# not trace any files below: 
**/*.pyc
**/*.sqlite3
**/*.log
# not trace any floders below:
**/__pycache__/
**/.DS_Store
**/.vscode 
**/venv/
# Other typical entries
**/node_modules/
**/dist/
**/build/

