{% extends "base.html" %}
{% load url_utils %}
{% block content %}


<div class="top">
    <div class="tool">
        <div class="class-info">
            <form method="get" action="{% url 'teachers_list' %}">
                <span>班级:</span>
                <select name="grade">
                    <option value="" selected>请选择班级</option>

                    {% for grade in grades %}
                    <option value="{{ grade.pk }}" {% if grade.pk|stringformat:"s" == current_grade %} selected {% endif %}>
                        {{ grade.grade_name }}</option>
                    {% endfor %}

                </select>
                <span>姓名/电话:</span>
                <input type="text" name="search" placeholder="姓名/电话:">
                <input type="submit" value="搜索">
                <!-- <a href="{% url 'teacher_create' %}">
                    <button type="button" class="add" id="add">新增</button>
                </a> -->
                <button type="button" class="add" id="add">新增</button>

            </form>
        </div>
    </div>
</div>
<div class="bottom">
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>班级</th>
                <th>姓名</th>
                <th>性别</th>
                <th>手机号</th>
                <th>生日</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            {% for teacher in teachers %}
            <tr>
                <td><input type="checkbox" name="teacher_ids" value="{{ teacher.pk }}"></td>
                <td>{{ teacher.grade.grade_name }}</td>
                <td>{{ teacher.teacher_name }}</td>
                <td>{{ teacher.gender }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.birthday }}</td>
                <td>
                    <a href="{% url 'teacher_update' teacher.pk %}" class="btn btn-primary btn-sm edit">编辑</a>
                    <a href="{% url 'teacher_delete' teacher.pk %}" class="btn btn-danger btn-sm del">删除</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="pagination">
        <span class=step-links>
            <span class=step-links>
                {% if page_obj.has_previous %}
                <!-- 相当于调用 search_url(request, [page: 1])，将request中的 -->
                <a href="?{% search_url request page=1 %}">&laquo; 首页</a>
                <a href="?{% search_url request page=page_obj.previous_page_number%}">上一页</a>
                {% endif %}
                <span class="current">
                    {{ page_obj.number}} / {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                <a href="?{% search_url request page=page_obj.next_page_number %}">下一页</a>
                <a href="?{% search_url request page=page_obj.paginator.num_pages %}">尾页 &raquo</a>
                {% endif %}
                <!-- <span class=current>
                    1 / 2
                </span>
                <a href="http://127.0.0.1:8000/students/?page=2">下一页</a>
                <a href="http://127.0.0.1:8000/students/?page=2">尾页 »</a> -->

            </span>
        </span>

    </div>
</div>

<script>
    const showIframe = (url) => {
        const html = `<iframe src="${url}" width="100%", height="800px", frameborder="0"></iframe>`
        Swal.fire({
            position: 'top-end',
            html: html,
            width: 600,
            showConfirmButton: false,
        })
    };


    const handelDelte = function (url) {
        Swal.fire({
            title: "确认删除？",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: '删除',
            confirmButtonColor: '#d33'
        }).then(result => {
            if (result.isConfirmed){
                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}',
                    }
                }).then(response => response.json())
                .then(data => {
                    if (data.status === 'success'){
                        Swal.fire('Deleted !', data.messages, "success").then(result =>{
                            if(result.isConfirmed){
                                window.location.reload();
                            }
                        })
                    }else{
                        Swal.fire('Error !', data.messages, 'error').then(result =>{
                            if(result.isConfirmed){
                                window.location.reload();
                            }
                        })
                    }
                })
            }
        })
    }

    // 新增
    document.getElementById('add').addEventListener('click', () => {
        const createUrl = "{% url 'teacher_create' %}"
        showIframe(createUrl)
    });

    // 编辑
    document.querySelectorAll('.edit').forEach(button => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            const updateUrl = button.getAttribute('href'); // 在 arrow function 中不能使用 this
            showIframe(updateUrl);
        })
    })

    // 删除
    document.querySelectorAll('.del').forEach(button =>{
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const deleteUrl = this.getAttribute('href') // this 就是 button, 只能使用在函数或者函数表达式中
            handelDelte(deleteUrl)
        })
    })
</script>

{% endblock content %}