.main {
    flex: 6;
    padding: 25px;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header .search {
    background: #fff;
    display: flex;
    align-items: center;
    width: 75%;
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1)
}

.main .header .search button {
    font-size: 20px;
    border: none;
    background: transparent;
}

.main .header .search input {
    padding: 4px 6px;
    font-size: 14px;
    border: none;
    outline: none;
    width: 100%;
}

.main .header .search i {
    cursor: pointer;
}

.main .header .icon-btns {
    display: flex;
    gap: 8px;
}

.main .header .icon-btns i {
    font-size: 20px;
    background: #1976d2;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.main .header .icon-btns i:hover {
    background: #0d47a1;
}

.main .header .icon-btns i#menu-btn {
    display: none;
}