{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class=bottom>
    <div class=container>
        <h1 style="text-align: center;">新增班级</h1>
        <form method=post>
            <div class=form-group>
                <label for=id_grade_name> 班级名称:</label>
                <input type=text name=grade_name maxlength=50 required id=id_grade_name value>
                <ul class=errors>

                </ul>
            </div>

            <div class=form-group>
                <label for=id_grade_number> 班级编号:</label>
                <input type=text name=grade_number maxlength=10 required id=id_grade_number value>
                <ul class=errors>

                </ul>
            </div>


            <div class=handleButton>
                <button type=submit id=saveButton>保存</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}