{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/sweetalert2.css' %}">
<div class="container">
    {% if student.pk %}
    <h2>编辑学生信息</h2>
    {% else %}
    <h2>添加学生信息</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <div class="handleButton">
            <button type="submit" id="saveButton">保存</button>
            <button type="button" id="cancelButton" onclick="window.parent.Swal.close();">取消</button>
        </div>
    </form>
</div>
<!-- 定义 CURD 对应的 url, 新增和编辑对应不同的url -->
{% if student.pk %}
<script>
    var actionUrl = "{% url 'student_update' student.pk %}";
</script>
{% else %}
<script>
    var actionUrl = "{% url 'student_create' %}";
</script>
{% endif %}
<script src="{% static 'js/sweetalert2.js' %}"></script>
<script>
    // 监听 DOM 是否有内容加载完成
    document.addEventListener('DOMContentLoaded', () => {
        // 选择 html 中的第一个 form 元素
        const form = document.querySelector('form')
        // 监听 form 的 submit 事件
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // 阻止默认提交
            // 获取表单数据
            let formData = new FormData(form)
            // 使用 fetch 发送请求 （以定义更多自定义内容）
            // fetch 操作的请求对象为 actionUrl，请求方法为 POST，请求体的 body FormData
            // actionUrl 对应的是 StudentCreateView， 服务器后台中 StudentCreateView，会运行 form_valid() 等函数进行数据验证操作，在 form_valid中，我们可以自定义数据验证（见 StudentCreateView() 中的 form_valid）的操作，并定义响应的内容（如 status, messages 等）
            fetch(actionUrl, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    // 添加 csrf-token 以防报错
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                }
                // form_valid）的运行完毕后，会返回 response 数据
                // fetch 会返回以一个 'Promise', 通过 then() 方法可以处理服务器的响应
            }).then(response => response.json()) // 将响应解析为 JSON 格式
                .then(data => { // 通过另一个 then() 会调出理解析后的数据
                    // 
                    if (data.status === 'success') {
                        Swal.fire({
                            icon: 'success',
                            title: data.messages,
                            text: '数据已成功提交'
                        }).then((result) => {
                            if (result.value) {
                                // 提交成功后，回到窗口父页面并刷新
                                window.parent.location.reload()
                            }
                        })

                    } else {
                        // 接受错误信息
                        // 解析嵌套的 JSON 字符串为 errors 对象
                        const errors = JSON.parse(data.messages)
                        // errors 结构为：["student_name": ["message": "...", "code": "..."], ...]
                        // 构造错误文本
                        let errorMessage = '';
                        // 遍历 errors 对象的每一个属性
                        for (const field in errors) { // filed 为 ["student_name":[], "student_number": [], ...]
                            // errors.hasOwnProperty(field) 确保这个字段是对象的直接属性，而不是继承自原型链。
                            if (errors.hasOwnProperty(field)) {
                                // 处理每个错误字段，每个字段 errors[field] 是一个数组，包含了与该字段相关的所有错误信息
                                errors[field].forEach(error => { // error 为 ["message": "...", "code": "..."]
                                    errorMessage += `<li style="color:red;text-align:left;margin-left:100px;"> ${error.message} </li>`
                                })
                            }
                        }
                        Swal.fire({
                            icon: "error",
                            title: "提交错误",
                            html: errorMessage,
                            confirmButtonText: "关闭"
                        })
                    }
                }).catch((error) => {
                    Swal.fire({
                        icon: 'error',
                        title: '网络请求失败',
                        text: '无法连接到服务器，请稍后再试',
                        confirmButtonText: '关闭'
                    })
                })
        })
    })

</script>