{% extends "base.html" %}
{% block content %}

<div class=right>
    <div class=top>
        <div class=tool>
            <div class=class-info>
                <form method="get" , action="{% url 'students_list'%}" />

                <span>班级: </span>
                <select name=grade>
                    <option value selected>请选择班级</option>

                    <option value=8>
                        1年1班
                    </option>

                    <option value=6>
                        1年2班
                    </option>

                    <option value=7>
                        1年3班
                    </option>

                    <option value=9>
                        1年4班
                    </option>

                    <option value=10>
                        1年5班
                    </option>

                </select>
                <span>姓名/学号:</span>
                <input type=text name=search value>
                <input type=submit value=搜索>
                </form>
            </div>
            <div class=actions>
                <button type=button class=add id=add>新增</button>
                <button type=button class=del id=del-all>批量删除</button>
                <button type=button class=import id=import>导入</button>
                <button type=button class=export id=export>导出</button>
            </div>
        </div>
    </div>
    <div class=bottom>
        <table>
            <thead>
                <tr>
                    <th><input type=checkbox id=select-all></th>
                    <th>姓名</th>
                    <th>班级</th>
                    <th>学号</th>
                    <th>性别</th>
                    <th>生日</th>
                    <th>联系电话</th>

                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <!-- checkbox 元素的 value 属性用于定义当复选框被选中时，在表单提交过程中将传递给服务器的值。如果复选框没有被选中，则不会发送该字段。 -->
                    <td><input type=checkbox name=student_ids value={{ student.pk }}></td>
                    <td>{{ student.student_name}}</td>
                    <td>{{ student.grade.grade_name }}</td>
                    <td>{{ student.student_number }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.birthday }}</td>
                    <td>{{ student.contact_number}}</td>
                    <td>
                        <a href="{% url 'student_update' student.pk %}" class="btn btn-primary btn-sm edit">编辑</a>
                        <a href=http://127.0.0.1:8000/students/48/delete/ class="btn btn-danger btn-sm del">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class=pagination>
            <span class=step-links>
                <span class=step-links>

                    <span class=current>
                        1 / 2
                    </span>

                    <a href="http://127.0.0.1:8000/students/?page=2">下一页</a>
                    <a href="http://127.0.0.1:8000/students/?page=2">尾页 »</a>

                </span>
            </span>
        </div>
    </div>
</div>

<script>
    // 新增
    document.getElementById('add').addEventListener('click', () => {
        Swal.fire({
            position: 'top-end',
            html: `<iframe src="{% url 'student_create' %}" width="100%" height="800px" frameborder="0"> <iframe>`,
            width: 600,
            // 不显示 OK 按钮
            showConfirmButton: false,


        });
    })
    // 编辑
    // 选择所有 class 带有 edit 的元素，每个都命名为 button
    document.querySelectorAll('.edit').forEach(button => {
        // 为每个 button 添加 click 监听事件，看看那个 button 被点击了
        button.addEventListener('click', function (e) {
            e.preventDefault(); // 阻止跳转
            // 获取 button 的 href 属性
            url = this.getAttribute('href')
            console.log(url);
            Swal.fire({
                position: 'top-end',
                // url 为被点击的 button 对应的 url
                html: `<iframe src="${url}" width="100%" height="800px" frameborder="0"> <iframe>`,
                width: 600,
                // 不显示 OK 按钮
                showConfirmButton: false,


            });
        })
    })

</script>
{% endblock content %}